{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="{% static 'css/inscriptione.css' %}">
</head>
<body>
    <div class="contenaire">
         
        <form action="{% url 'connexion' %}" method="POST"> 
            {% csrf_token %}       
                 
         <div class="loginhead">
             <span>Se-Connecter</span>
        </div>
    
            <input class="champ" type="text" placeholder="username" name="username" required><br>
          
    
            <input class="champ"   id="password"      type="password" placeholder="password" name="password" required><br>
    
            <input class="btn"    type="submit" value="Connexion">
             
             <div class="registre">
    
            <span class="insc">Vous n'avez pas de compte? <a href="{% url 'inscription' %}">S'inscrire</a></span>
    
            </div>
            
        </form>
    
        </div>
        {% if messages %}
        
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>